* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v52_186 { 
    width: 100%;
    height: 4151px;
    background: rgba(12,12,12,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .introwords {
    width: 255px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2064px;
    left: 322px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .more {
    width: 214px;
    height: 83px;
    background: rgba(230,255,253,1);
    padding: 15px 40px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 713px;
    left: 649px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    overflow: hidden;
  }
  .generate {
    width: 79px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    left: 68px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v53_252 {
    width: 868px;
    height: 265px;
    background: url("../images/v53_252.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 322px;
    overflow: hidden;
  }
  .v53_215 {
    width: 868px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: center;
  }
  .v53_216 {
    width: 272px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 241px;
    left: 298px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v60_28 {
    width: 100%;
    height: 4373px;
    background: url("../images/v60_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 304px;
    overflow: hidden;
  }
  .v53_254 {
    width: 433px;
    height: 433px;
    background: linear-gradient(rgba(230,255,253,1), rgba(96,191,185,1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1562px;
    border-radius: 50%;
  }
  .v53_256 {
    width: 505px;
    height: 505px;
    background: linear-gradient(rgba(77,131,154,1), rgba(80,67,128,1));
    opacity: 1;
    position: absolute;
    top: 851px;
    left: 1464px;
    border-radius: 50%;
  }
  .v53_255 {
    width: 606px;
    height: 606px;
    background: linear-gradient(rgba(230,210,207,1), rgba(77,131,154,1));
    opacity: 1;
    position: absolute;
    top: 479px;
    left: 0px;
    border-radius: 50%;
  }
  .v60_22 {
    width: 433px;
    height: 433px;
    background: linear-gradient(rgba(230,255,253,1), rgba(96,191,185,1));
    opacity: 1;
    position: absolute;
    top: 1596px;
    left: 1562px;
    border-radius: 50%;
  }
  .v60_23 {
    width: 505px;
    height: 505px;
    background: linear-gradient(rgba(77,131,154,1), rgba(80,67,128,1));
    opacity: 1;
    position: absolute;
    top: 2447px;
    left: 1464px;
    border-radius: 50%;
  }
  .v60_24 {
    width: 606px;
    height: 606px;
    background: linear-gradient(rgba(230,210,207,1), rgba(77,131,154,1));
    opacity: 1;
    position: absolute;
    top: 2075px;
    left: 0px;
    border-radius: 50%;
  }
  .v60_26 {
    width: 505px;
    height: 505px;
    background: linear-gradient(rgba(77,131,154,1), rgba(80,67,128,1));
    opacity: 1;
    position: absolute;
    top: 3868px;
    left: 374px;
    border-radius: 50%;
  }
  .v60_27 {
    width: 606px;
    height: 606px;
    background: linear-gradient(rgba(230,210,207,1), rgba(77,131,154,1));
    opacity: 1;
    position: absolute;
    top: 3324px;
    left: 1544px;
    border-radius: 50%;
  }
  .v60_25 {
    width: 433px;
    height: 433px;
    background: linear-gradient(rgba(230,255,253,1), rgba(96,191,185,1));
    opacity: 1;
    position: absolute;
    top: 3220px;
    left: 82px;
    border-radius: 50%;
  }
  .v60_12 {
    width: 100%;
    height: 537px;
    background: url("../images/v60_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1285px;
    left: 100px;
    overflow: hidden;
  }
  .v60_9 {
    width: 424px;
    height: 134px;
    background: rgba(255,255,255,0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 403px;
    left: 555px;
    border: 1px solid rgba(255,255,255,0.8899999856948853);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_7 {
    width: 537px;
    height: 537px;
    background: rgba(255,255,255,0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(255,255,255,0.8899999856948853);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_8 {
    width: 424px;
    height: 376px;
    background: rgba(255,255,255,0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 555px;
    border: 1px solid rgba(255,255,255,0.8899999856948853);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_10 {
    width: 313px;
    height: 440px;
    background: rgba(255,255,255,0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 999px;
    border: 1px solid rgba(255,255,255,0.8899999856948853);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_11 {
    width: 313px;
    height: 74px;
    background: rgba(255,255,255,0.49000000953674316);
    opacity: 1;
    position: absolute;
    top: 463px;
    left: 999px;
    border: 1px solid rgba(255,255,255,0.8899999856948853);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_15 {
    width: 456px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1155px;
    left: 322px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v60_16 {
    width: 868px;
    height: 514px;
    background: rgba(255,255,255,0.3799999952316284);
    opacity: 1;
    position: absolute;
    top: 2235px;
    left: 322px;
    border: 1px solid rgba(255,255,255,0.8700000047683716);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;
  }
  .v60_17 {
    width: 140px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4065px;
    left: 590px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v60_18 {
    width: 138px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4065px;
    left: 789px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v60_20 {
    width: 214px;
    height: 83px;
    background: rgba(230,255,253,1);
    padding: 15px 40px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 3553px;
    left: 649px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    overflow: hidden;
  }
  .v60_21 {
    width: 142px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 25px;
    left: 36px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v53_214 {
    width: 100%;
    height: 120px;
    background: rgba(36,33,33,0.800000011920929);
    padding: 30px 100px;
    margin: 299px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v53_213 {
    width: 202px;
    height: 60px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 100px;
    overflow: hidden;
  }
  .v53_206 {
    width: 376px;
    height: 20px;
    background: url("../images/v53_206.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 60px;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 601px;
    overflow: hidden;
  }
  .nav ul {
    width: 58px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v53_203 {
    width: 110px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 118px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v53_191 {
    width: 88px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 288px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v53_202 {
    width: 138px;
    height: 50px;
    background: rgba(217,217,217,1);
    padding: 15px 40px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 1276px;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    overflow: hidden;
  }
  .v53_201 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 40px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  