extends layout 

block body
  - var bodyClass = 'generate'

block content 
    .content
        .select-title Pick the process that suits your needs!
        .process-select
            .select-btn-container
                a.process-select-btn#standard-btn(href='/generate/train')
                .description The most complete process, starting from model training. It provides the best accuracy for coloring your character.
            .select-btn-container
                a.process-select-btn#flex-btn(href='/generate/flexible')
                .description Ideal for quickly adjusting character colors after training a model using the standard process.
            .select-btn-container
                a.process-select-btn#fast-btn(href='/generate/fast')
                .description Our quickest option, using a preset model to color your character efficiently.