doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generate Visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/getUser.js')
    script(src="/javascripts/anm_background.js")
  body.generate-visitor
    script(src='/javascripts/loading.js')
    .bouncing-blobs-container
      .bouncing-blobs-glass
      .bouncing-blobs
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--blue
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--purple
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--purple
        .bouncing-blob.bouncing-blob--pink
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    .content
      .loading-mask
        .loading
          span(data-text="L") L
          span(data-text="O") O
          span(data-text="A") A
          span(data-text="D") D
          span(data-text="I") I
          span(data-text="N") N
          span(data-text="G") G
      form(id="uploadFormCHS", method="post", action="/uploadAndDetect", enctype="multipart/form-data")
        .upload-section
          .upload
            label(for="model-select") choose the model you would like to use for detecting
            select.model-select(name="options")
              each option in options
                option(value=option.value) #{option.text}
          .upload
            span Upload CHS
            .upload-box#uploadBoxCHS
              input#chs(type="file" name="chs" accept="image/*" multiple onchange="handleFiles(this.files, 'uploadBoxCHS')")
        button.generate-btn(type="button" onclick="submitFormCHS()") ⚡ Detect
    script(src='/javascripts/upload.js')