extends layout

block content
  .home
    section.hero
      .img-container 
        img#hero-img(src=`/images/LOGO_01.png`, alt='Home Image')
      .btn-container
        .more-btn More
    section#how-to-use
      h2 How to Use
      .cards
        .card.active(style=`background-image: url('/images/chd.png')`, data-aos="zoom-in-up")
          .card-content
            h1 upload your chd
        .card(style=`background-image: url('/images/choose_pt.png')`, data-aos="zoom-in-up")
          .card-content
            h1 choose the model
        .card(style=`background-image: url('/images/chs.png')`, data-aos="zoom-in-up")
          .card-content
            h1 upload your chs
        .card(style=`background-image: url('/images/seg.png')`, data-aos="zoom-in-up")
          .card-content
            h1 execute
    div.text-container.c1
      h1 Anime Imprimatura
    section#about-us
      h2 About Us
      .about-card
        p To Be Continued...
      .btn-container
        a.generate-btn(href='/generate/train') ⚡ Generate
  footer
    .footer-links
      a(href="#") Support
      a(href="#") Contact
  link(rel='stylesheet', href='https://unpkg.com/aos@2.3.1/dist/aos.css')
  script(src='/javascripts/anm_tapCard.js')
  script(src='/javascripts/anm_scrolling.js') 
  script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
  script.
    AOS.init();