extends layout

block body
  - var bodyClass = 'support'

block content
    h1 Support Center
    p If you're experiencing issues, we're here to help! Choose one of the following options to get started.

    .faq
        h2 Frequently Asked Questions (FAQ)
        ul
            li
                h3 How can I reset my password?
                p If you've forgotten your password, you can reset it by clicking the "Forgot Password" link on the login page and following the instructions.
            li
                h3 How can I contact customer support?
                p You can reach out to our support team by filling out the form on the Contact Us page or emailing us directly at support@example.com.
            li
                h3 How can I track my order?
                p To track your order, log in to your account and go to the "Order History" section.
  
    h2 Technical Support
    p Need further assistance? Submit a support ticket using the form below.

    form(action="/support" method="POST")
        label(for="email") Email:
        input#email(type="email" name="email" required)
        label(for="issue") Describe your issue:
        textarea#issue(name="issue" required)
        button(type="submit") Submit