extends layout

block body
  - var bodyClass = 'team-gallery-t'

block content
  main
    section.gallery
      .gallery-buttons
        button.gallery-btn Personal Gallery
        button.gallery-btn Team Gallery
      .gallery-grid
        .gallery-item
          .image
            .avatar
          p Congue id ac mi
        .gallery-item
          .image
            .avatar
          p Cursus accumsan
        .gallery-item
          .image
            .avatar
          p Nisi massa aliquet
        .gallery-item
          .image
            .avatar
          p Pretium congue ut
        .gallery-item
          .image
            .avatar
          p Eleifend amet
        .gallery-item
          .image
            .avatar
          p Fames viverra
        .gallery-item
          .image
            .avatar
          p Duis ut et
        .gallery-item
          .image
            .avatar
          p Bibendum eu