/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #000000, #3f3f3f);
  /* background: url('https://via.placeholder.com/800x600') no-repeat center center fixed; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change from center to flex-start */
  min-height: 100vh;
  padding-top: 80px; /* Add padding to avoid content overlapping with the nav bar */
}
.navigation-bar {
  width: 100%;
  padding: 10px 20px; /* Adjust padding for better spacing */
  background-color: #252222CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the nav bar fixed */
  top: 0; /* Position it at the top */
  z-index: 1000; /* Ensure it stays above other content */
}
.logo-placeholder {
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
}
.user-icon {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
}
.nav {
  display: flex;
  gap: 60px;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.login-btn {
  background: #D9D9D9;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 42px;
  cursor: pointer;
  gap: 10px;
  opacity: 0px;
  font-size: 15px;
}
.login-button:hover {
  background-color: #bbb;
}
.content {
  text-align: center;
  margin-top: 50px;
}
.rectangle {
  width: 400px;
  height: 300px;
  background-color: #999;
  border-radius: 10px;
  margin: 20px auto;
}
.profile-icon{
  width: 50px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 50%;
  display: flex;
}

/* Home Page Styles */
.hero {
  display: grid;
  place-items: center;
  height: 100vh;
}

.more-btn {
  width: Fixed (214px)px;
  height: Fixed (83px)px;
  top: 713px;
  left: 649px;
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 42px;
  opacity: 0px;
  cursor: pointer;
  margin-top: 20px; 
}

.how-to-use, .about-us {
  padding: 50px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card, .about-card {
  width: 200px;
  height: 150px;
  background-color: #666;
}

.generate-btn {
  display: block;
  margin: 50px auto;
  background: #E6FFFDB5;
  color: #000;
  border: 1px solid #E6FFFDBF;
  padding: 15px 40px;
  cursor: pointer;
  gap: 10px;
  border-radius: 42px;
  font-size: 15px;
  text-align: center;
  width: 170px;
}

footer {
  background-color: #333;
  padding: 10px 20px;
  text-align: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Gallery Page Styles */
.gallery .gallery {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery .gallery-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.gallery .gallery-btn {
  gap: 14px;
  border-radius: 40px;
  border: 1px;
  opacity: 0px;
  background: #FFF0FC7A;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery .gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery .gallery-item {
  width: 200px;
  text-align: center;
}

.gallery .image {
  width: 100%;
  height: 150px;
  background-color: #666;
  margin-bottom: 10px;
}

/* Account Management Page Styles */
.account-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; /* Adjust for fixed nav bar */
}
.account-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-card {
  background-color: #555;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}
.account-card .profile-pic {
  width: 100px;
  height: 100px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 auto;
}
.account-card .avatar {
  width: 100px;
  height: 100px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.account-card p {
  margin: 10px 0;
}
.account-card input[type="text"], .account-card input[type="email"], .account-card input[type="password"] {
  width: auto;
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #555;
  color: white;
}
.account-card button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Generate Visitor Page Styles */
.generate-visitor .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.generate-visitor .upload-section {
  display: flex;
  gap: 200px;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row;
}

.generate-visitor .upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.generate-visitor .upload-box {
  width: 424px;
  height: 301px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  opacity: 0.7;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.generate-visitor .upload-box input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.generate-visitor .upload span {
  z-index: 1;
}

.generate-visitor .preview {
  width: 108px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.generate-visitor .generate-btn {
  display: block;
  margin: 50px auto;
  background: #E6FFFDB5;
  color: #000;
  border: 1px solid #E6FFFDBF;
  padding: 15px 40px;
  cursor: pointer;
  gap: 10px;
  border-radius: 42px;
  font-size: 15px;
  text-align: center;
}

/* Generated Visitor Page Styles */
.generated-visitor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generated-visitor .content {
  gap: 10px;
}
.generated-visitor .content-box {
  width: 646px;
  height: 425px;
  background: #D9D9D9;
  border-radius: 40px;
}
.generated-visitor .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.generated-visitor .edit-btn, .generated-visitor .save-btn {
  background-color: #888;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.generated-visitor .save-btn {
  background-color: #6a4b82;
}

/* Log In Page Styles */
.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.login .login-box {
  background: #FFFFFFB8;
  opacity: 0.72;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 440px;
  height: 500px;
  border: 1px;
}

.login input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.login input[type="checkbox"] {
  margin-right: 10px;
}

.login .remember-me{
  color: #000000;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}

.login button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login button:hover {
  background-color: #555;
}

.login p {
  margin-top: 10px;
}

.login p a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

/* Create Account Page Styles */
.create-account .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.create-account .form-container form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFFB8;
  padding: 30px;
  border-radius: 40px;
  text-align: center;
  width: 484px;
  height: 650px;
  opacity: 0.72;  
}

.create-account .form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
}

.create-account .form-container button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.create-account .form-container p {
  margin-top: 15px;
  font-size: 14px;
}

.create-account .form-container p a {
  color: #fff;
  text-decoration: none;
}

.create-account .form-container a:hover{
  text-decoration: underline;
}

/* Team Gallery T Page Styles */
.team-gallery-t .gallery {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-gallery-t .gallery-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.team-gallery-t .gallery-btn {
  padding: 10px 20px;
  gap: 14px;
  border-radius: 40px;
  border: 1px;
  opacity: 0px;
  background: #FFF0FC7A;
  color: #000;
  cursor: pointer;
}

.team-gallery-t .gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-gallery-t .gallery-item {
  width: 200px;
  text-align: center;
}

.team-gallery-t .image {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #666;
  margin-bottom: 10px;
}

.team-gallery-t .avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border-radius: 50%;
}


/* Team Gallery F Page Styles */

.team-gallery-f .gallery {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-gallery-f .gallery-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.team-gallery-f .gallery-btn {
  padding: 10px 20px;
  gap: 14px;
  border-radius: 40px;
  border: 1px;
  opacity: 0px;
  background: #FFF0FC7A;
  color: #000;
  cursor: pointer;
}

.team-gallery-f .content {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.team-gallery-f .action-button {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
  max-width: 200px;
}

.team-gallery-f .action-button:hover {
  background-color: #888;
}