doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="") Home
        a(href="#how-to-use") How to Use
        a(href="#about-us") About Us
        a(href="gallery") Gallery
      a.login-btn(href="login") Log In
    main
      section.hero
        h1 Amet id dictum ac viverra et. Commodo neque aliquam volutpat in. Vitae.
        p Nulla felis enim
        button.more-btn More
      section#how-to-use
        h2 How to Use
        .cards
          .card
          .card
          .card
          .card
          .card
      section#about-us
        h2 About Us
        .about-card
      button.generate-btn ⚡ Generate
    footer
      .footer-links
        a(href="#") Support
        a(href="#") Contact
