doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Account Setting
  body.account-management
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      .profile-icon
    .account-section
      .account-card
        .avatar
        .input-section
          p user id
          input(type="text", placeholder="user id", id="id", value="user id", readonly)
          span.edit-icon(onclick="enableEdit('id')") ✎
        .input-section
          p gmail
          input(type="email", placeholder="email", id="email", value="user email", readonly)
          span.edit-icon(onclick="enableEdit('email')") ✎
        .input-section
          p password
          input(type="password", placeholder="password", id="password", value="user password", readonly)
          span.edit-icon(onclick="enableEdit('password')") ✎
        button(type="submit") Save Changes
    script(src='/javascripts/account_edit.js')