doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Create Account
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.create-account
    .bouncing-blobs-container
      .bouncing-blobs-glass
      .bouncing-blobs
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--blue
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--purple
        .bouncing-blob.bouncing-blob--black
        .bouncing-blob.bouncing-blob--purple
        .bouncing-blob.bouncing-blob--pink
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
      a
    main.content
      .form-container
        form#signinForm(method="POST" action="/api/signin" onsubmit="signin(event)")
          input(type="text" placeholder="Username" name="user_name" required)
          input(type="text" placeholder="Gmail" name="gmail" required)
          input(type="password" placeholder="Password" name="password" required)
          button(type="submit") Join us
          p Already a member? 
            a(href="login") Log in
    script(src="/javascripts/anm_background.js")
    script(src='/javascripts/signin.js')