extends layout

block body
  - var bodyClass = 'create-account'

block header
  header.navigation-bar
    a.logo-placeholder(href="/")
    .nav
      a(href="/") Home
    a

block content
  main.content
    .form-container
      form#signinForm(method="POST" action="/api/signin" onsubmit="signin(event)")
        input(type="text" placeholder="Username" name="user_name" required)
        input(type="text" placeholder="Gmail" name="gmail" required)
        input(type="password" placeholder="Password" name="password" required)
        button(type="submit") Join us
        p Already a member? 
          a(href="login") Log in
  script(src='/javascripts/signin.js')