extends layout

block body
  - var bodyClass = 'gallery'

block content
  .gallery-buttons
    button.gallery-btn Personal Gallery
    button.gallery-btn Team Gallery
  .gallery-container
    .filter 
      button.filter-btn(data-filter="all") All
      button.filter-btn(data-filter="chd") CHD
      button.filter-btn(data-filter="chs") CHS
      button.filter-btn(data-filter="finalImg") Final Image
    .gallery-grid
      .gallery-image
  script(src='/javascripts/deleteImg.js')
  script(src='/javascripts/getGalleryImages.js')
  script(src='/javascripts/galleryFilter.js')