extends layout 

block body
  - var bodyClass = 'generate'

block content 
    .content
        .select-title Start from choosing the generate process!
        .process-select
            a.process-select-btn(href='/generate/train') standard process
            a.process-select-btn(href='/generate/train_detect') process2
            a.process-select-btn(href="") process3