doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generate Visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generate-visitor
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    .content
      form(id="uploadFormCHD", method="post", action="/uploadAndTrain", enctype="multipart/form-data")
        .upload-section
          .upload
            span the name of the character
            input.character_name(type="text" name="character_name" placeholder="character name" required)
          .upload
            span Upload CHD
            .upload-box#uploadBoxCHD
              input(type="file" name="chd" accept="image/*" multiple onchange="handleFiles(this.files, 'uploadBoxCHD')")
        button(type="button" class="generate-btn" onclick="submitFormCHD()") ⚡ Train
    script(src='/javascripts/upload.js')