doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generate Visitor Detect
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generate-visitor-detect
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    .content
      form(id="uploadForm", method="post", action="/upload", enctype="multipart/form-data")
        .upload-section
          span the name of the character
          label.character-name#characterName
          .upload
            span Upload CHS
            .upload-box#uploadBox2
              input(type="file" name="chs" accept="image/*" onchange="handleFiles(this.files, 'uploadBox2')")
        button(type="button" class="detect-btn" onclick="submitForm()") ⚡ Detect