doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generated_visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generated-visitor
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    main.content
      div Here it is!
      .content-box
        // Content goes here
      .buttons
        button.edit-btn Edit
        button.save-btn Save
