doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generated_visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generated-visitor
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    main.content
      .title Here it is!
      .container
        .content-box.chs
          .image-title your chs
          .image-container#chsContainer
        .content-box.final
          .image-title the result
          .image-container
            img#finalImage(src=imgSrc alt="The result")
      .buttons
        button.edit-btn Edit
        button.save-btn Save
    script(src='/javascripts/getCHS.js')
