doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generate Visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generate-visitor
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    .content
      form(id="uploadForm", method="post", action="/uploadAndGenerate", enctype="multipart/form-data")
        button(type="button" class="generate-btn" onclick="submitFormGenerate()") ⚡ Generate
    script(src='/javascripts/upload.js')