doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generated_visitor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.generated-visitor
    script(src='/javascripts/loading.js')
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    .loading-mask
      .loading 
        span(data-text="L") L
        span(data-text="O") O
        span(data-text="A") A
        span(data-text="D") D
        span(data-text="I") I
        span(data-text="N") N
        span(data-text="G") G
    main.content
      .title Here it is!
      .container
        .content-box.chs
          .image-title your chs
          .image-container#detectResult
        .content-box.final
          .color-container#colorContainer
            .color-title#color-title-demo demo: 
            .color-box#color-box-demo(style="background-color: blue;")
          .image-title the result
          .image-container#finalImage
      .buttons
        button.edit-btn Edit
        button.save-btn Save
    script(src='/javascripts/getImages.js')
