doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navigation-bar
      a.logo-placeholder(href="/")
      .nav
        a(href="/") Home
        a(href="/#how-to-use") How to Use
        a(href="/#about-us") About Us
        a(href="/gallery") Gallery
      a.login-btn(href="login") Log In
    main
      section.hero
        .carousel-container
          .carousel-track-container
            ul.carousel-track
              li.carousel-slide
                img(src='https://i.pinimg.com/564x/6b/c8/23/6bc8238dab59630987db19b184c90310.jpg', alt='image1')
              li.carousel-slide
                img(src='https://i.pinimg.com/564x/cb/53/bd/cb53bddd7235703eab3d952e8fcad95e.jpg', alt='image1')
              li.carousel-slide
                img(src='https://i.pinimg.com/564x/f8/56/fd/f856fd0bb9ea7735a521995155861754.jpg', alt='image1')
        button.more-btn More
      section#how-to-use
        h2 How to Use
        .cards
          .card
          .card
          .card
          .card
          .card
      section#about-us
        h2 About Us
        .about-card
      .btn-container
        a.generate-btn(href='/generate_train_visitor') ⚡ Generate
    footer
      .footer-links
        a(href="#") Support
        a(href="#") Contact
    script(src="/javascripts/carousel.js")