extends layout

block content
  main
    section.hero
      .img-container
        img(src='https://i.pinimg.com/564x/6b/c8/23/6bc8238dab59630987db19b184c90310.jpg', alt='image1')
      .btn-container
        .more-btn More
    section#how-to-use
      h2 How to Use
      .cards
        .card.active(style="background-image: url(https://i.pinimg.com/564x/6b/c8/23/6bc8238dab59630987db19b184c90310.jpg);")
          .card-content
            h1 upload your chs
            p loremipsum jiefhwifhw
        .card(style="background-image: url(https://i.pinimg.com/564x/f8/56/fd/f856fd0bb9ea7735a521995155861754.jpg);")
          .card-content
            h1 choose the pt
            p loremipsum ioewhfuwjghewoufhjwogjhr
    section#about-us
      h2 About Us
      .about-card
    .btn-container
      a.generate-btn(href='/generate_train') ⚡ Generate
  footer
    .footer-links
      a(href="#") Support
      a(href="#") Contact