doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Log In
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.login
    header.navigation-bar
      a.logo-placeholder(href="/")
    main.content
      .login-container
        .login-box
          form(method="POST" action="/api/login")
            .input-group
              input(type="gmail" id="gmail" name="gmail" placeholder="Email" required)
              input(type="password" id="password" name="password" placeholder="Password" required)
            .remember-me
              input(type="checkbox" id="remember" name="remember")
              label(for="remember") Remember me
            button(type="submit") Log in
          p Not a member? 
            a(href="create_account") Create an account
