doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team Gallery F
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.team-gallery-f
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="index.html") Home
        a(href="index.html#how-to-use") How to Use
        a(href="index.html#about-us") About Us
        a(href="gallery.html") Gallery
      .profile-icon profile-icon
    main
      section.gallery
        .gallery-buttons
          button.gallery-btn Personal Gallery
          button.gallery-btn Team Gallery
        .content
          button.action-button Create a Team
          button.action-button Join a Team