extends layout

block body
  - var bodyClass = 'team-gallery-f'

block content
  main
    section.gallery
      .gallery-buttons
        button.gallery-btn Personal Gallery
        button.gallery-btn Team Gallery
      .content
        button.action-button Create a Team
        button.action-button Join a Team