doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team Gallery T
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.team-gallery-t
    header.navigation-bar
      .logo-placeholder
      .nav
        a(href="index.html") Home
        a(href="index.html#how-to-use") How to Use
        a(href="index.html#about-us") About Us
        a(href="gallery.html") Gallery
      .profile-icon profile-icon
    main
      section.gallery
        .gallery-buttons
          button.gallery-btn Personal Gallery
          button.gallery-btn Team Gallery
        .gallery-grid
          .gallery-item
            .image
              .avatar
            p Congue id ac mi
          .gallery-item
            .image
              .avatar
            p Cursus accumsan
          .gallery-item
            .image
              .avatar
            p Nisi massa aliquet
          .gallery-item
            .image
              .avatar
            p Pretium congue ut
          .gallery-item
            .image
              .avatar
            p Eleifend amet
          .gallery-item
            .image
              .avatar
            p Fames viverra
          .gallery-item
            .image
              .avatar
            p Duis ut et
          .gallery-item
            .image
              .avatar
            p Bibendum eu